
<ion-content color="#" padding>
  <img width="150" class="logo" src="../assets/img/icon.png" />
  <form #form="ngForm" (ngSubmit)="reset(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center class="forgot-password">
            <h3>Alterar senha</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="cpf" value="" placeholder="Informe seu CPF" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="contact" value="" placeholder="Informe o contato emergencial" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" value="" type="password" placeholder="Informe sua nova senha" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding class="forgot-password" style="padding-top: 10%">
            <ion-button size="large" style="margin-bottom: 2em;" type="submit" color="success" [disabled]="form.invalid" expand="block">Alterar</ion-button>
            <a [routerLink]="['/login']"  class="small-text forgot-password">Entrar</a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>