.forgot-password {
    text-align: center;
}
.logo {
    display: block;
    margin: 5em auto;
    width: 150px;
    margin-bottom: 0;
 }


.img-logo {
    margin-left: 20px;
}

.span-logo {
    font-size: 3em;
    color: #555;
    margin: .5em 0;
    display: block;
}